extends layout

block content
  h1= title
  p= paragraph
  br
  form(method='POST' action='')
    div.form-group
      label(for='userid') User ID:
      input#userid.form-control(type='text', placeholder='Username' name='userid' required='true' value='' )
    div.form-group
      label(for='password') Password:
      input#password.form-control(type='text', placeholder='Password' name='password' required='true' value='' )
    button.btn.btn-primary(type='submit') Log in

  if errors
    ul
      for error in errors
        li!= error.msg
